@font-face {
  font-family: 'rookie';
  src: url('./fonts/RubikDoodleShadow-Regular.ttf') format('ttf');
}

body{
  scroll-behavior: smooth;
  font-family: rookie;
  overflow-x: hidden;
  background-color:beige;
}